<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Account</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">
<ion-card>
  <ion-card-header>
    <ion-card-title>Sign Up</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <form #signupForm="ngForm" (ngSubmit)="signUp()">
      <!-- Username Field -->
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input 
          type="text" 
          [(ngModel)]="user.username" 
          name="username" 
          required
          autocomplete="username">
        </ion-input>
      </ion-item>

      <!-- Email Field -->
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input 
          type="email" 
          [(ngModel)]="user.email" 
          name="email" 
          required
          autocomplete="email">
        </ion-input>
      </ion-item>

      <!-- Password Field -->
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input 
          type="password" 
          [(ngModel)]="user.password" 
          name="password" 
          required
          autocomplete="new-password">
        </ion-input>
      </ion-item>

      <!-- Submit Button -->
      <ion-button 
        type="submit" 
        expand="block" 
        class="ion-margin-top"
        [disabled]="!signupForm.valid">
        Create Account
      </ion-button>
    </form>
  </ion-card-content>
</ion-card>

<!-- Success Alert -->
<ion-alert 
  [isOpen]="showSuccessAlert"
  header="Success!"
  message="Your account has been created successfully."
  [buttons]="['OK']"
  (didDismiss)="showSuccessAlert = false">
</ion-alert>