ion-card {
    max-width: 500px;
    margin: 20px auto;
  }
  
  ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    margin-bottom: 15px;
  }
  
  ion-button {
    margin-top: 20px;
  }